* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}

.heading {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.text {
  line-height: 1.75rem;
  color: hsl(201, 11%, 66%);
  font-size: 1.1rem;
  font-weight: 400;
  max-width: 650px;
  margin: auto;
}

.buttons {
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.buttons .btn {
  color: hsl(0, 0%, 100%);
  padding: 0.8rem 2rem;
  background-color: hsl(171, 66%, 44%);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 3.25px solid hsl(171, 66%, 34%);
  box-shadow: 0 0.5rem 1rem hsla(171, 66%, 44%, 0.5);
}
.buttons .btn:hover {
  opacity: 0.8;
}
.buttons .btn-2 {
  color: hsl(0, 0%, 100%);
  padding: 0.8rem 2rem;
  background-color: hsl(233, 100%, 69%);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 3.25px solid hsl(233, 100%, 59%);
  box-shadow: 0 0.5rem 1rem hsla(233, 100%, 69%, 0.5);
}
.buttons .btn-2:hover {
  opacity: 0.8;
}

.top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.header {
  padding: 7.5rem 5%;
  text-align: center;
}
.header .logo {
  display: inline-block;
}
.header .title {
  font-size: 2.25rem;
  padding: 3rem 0 1rem;
}

.snippets {
  padding: 5rem 5%;
  text-align: center;
}
.snippets .row {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.snippets .row .image-computer {
  width: 100%;
  margin-left: -5rem;
}
.snippets .row .content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  text-align: left;
  margin-left: 2.5rem;
}
.snippets .row .content .name {
  font-size: 1.4rem;
  padding-bottom: 0.75rem;
}
.snippets .row .content .text {
  margin-left: 0;
  max-width: 450px;
}

.devices {
  padding: 5rem 5% 0;
  text-align: center;
}
.devices .image-devices {
  display: block;
  margin: 5rem auto;
  width: min(900px, 100%);
}

.workflow {
  text-align: center;
  padding: 2.5rem 5%;
}
.workflow .row {
  display: flex;
  justify-content: center;
  margin: 3.5rem 0;
  gap: 2.5rem;
}
.workflow .row .item {
  flex-basis: 100%;
}
.workflow .row .item img {
  display: inline-block;
}
.workflow .row .item .name {
  font-size: 1.4rem;
  padding: 2.25rem 0 0.75rem;
}
.workflow .companies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 0;
}

.bottom-content {
  text-align: center;
  padding: 5rem 5% 7.5rem;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem 5%;
  background-color: hsla(201, 11%, 66%, 0.1);
}
.footer .logo {
  width: 64px;
}
.footer .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}
.footer .item .link {
  font-weight: 400;
  color: hsl(210, 10%, 33%);
  cursor: pointer;
  font-size: 1.1rem;
}
.footer .item .link:hover {
  color: hsl(171, 66%, 44%);
}
.footer .social-icons {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
.footer .social-icons img {
  display: inline-block;
  cursor: pointer;
}
.footer .social-icons img:hover {
  filter: brightness(200%) saturate(10%) sepia(1) hue-rotate(120deg);
  -webkit-filter: brightness(200%) saturate(10%) sepia(1) hue-rotate(120deg);
}

@media screen and (max-width: 948px) {
  .snippets .row {
    flex-direction: column;
  }
  .snippets .row .image-computer {
    margin-left: 0;
    width: 100%;
  }
  .snippets .row .content {
    margin-left: 0;
    text-align: center;
  }
  .snippets .row .content .text {
    margin-left: auto;
  }
  .workflow .row {
    flex-direction: column;
  }
  .workflow .companies {
    flex-direction: column;
    gap: 7.5rem;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
  }
  .footer .item {
    align-items: center;
    gap: 2.25rem;
  }
}
@media screen and (max-width: 478px) {
  .buttons {
    flex-direction: column;
  }
  .buttons .btn,
  .buttons .btn-2 {
    width: 100%;
  }
  .header {
    padding: 5rem 5%;
  }
  .snippets,
  .devices {
    padding: 2.5rem 5%;
  }
  .workflow .companies {
    padding: 2.5rem 0;
  }
  .header .title {
    font-size: 2rem;
  }
  .heading {
    font-size: 1.75rem;
  }
  .name {
    font-size: 1.3rem !important;
  }
  .text {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */